# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# PyInstaller
#  Usually these files are written by a python script from a template
#  before PyInstaller builds the exe, so as to inject date/other infos into it.
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
.hypothesis/
.pytest_cache/

# Translations
*.mo
*.pot

# Django stuff:
*.log
local_settings.py
db.sqlite3

# Flask stuff:
instance/
.webassets-cache

# Scrapy stuff:
.scrapy

# Sphinx documentation
docs/_build/

# PyBuilder
target/

# Jupyter Notebook
.ipynb_checkpoints

# pyenv
.python-version

# celery beat schedule file
celerybeat-schedule

# SageMath parsed files
*.sage.py

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Spyder project settings
.spyderproject
.spyproject

# Rope project settings
.ropeproject

# mkdocs documentation
/site

# mypy
.mypy_cache/

learning_material/data-scrapes/all-human-0001-annotations\.txt

learning_material/data-scrapes/all-human-0001\.fasta

learning_material/data/protein_fun_20180714-095832\.txt

learning_material/data/protein_fun_20180714-095845\.txt

learning_material/data/protein-functions-2018-07-14-095546\.txt

learning_material/data/protein-seqs_20180714-095832\.txt

learning_material/data/protein-seqs_20180714-095845\.txt

learning_material/data/protein-seqs-2018-07-14-095546\.txt

learning_material/notebooks/01-keras-mnist-instructor\.ipynb

learning_material/notebooks/02-scrape-to-vec-begin\.ipynb

learning_material/notebooks/02-scrape-to-vec-instructor\.ipynb

learning_material/notebooks/03-train-begin\.ipynb

learning_material/notebooks/03-train-instructor\.ipynb

learning_material/notebooks/04-cnn-basic-instructor\.ipynb

learning_material/notebooks/05-cnn-extras-instructor\.ipynb

learning_material/notebooks/06-cnn-functional-api-instructor\.ipynb

learning_material/notebooks/07-inception-instructor\.ipynb

learning_material/notebooks/08-residual-connections-instructor\.ipynb

learning_material/notebooks/09-saving-models-instructor\.ipynb

learning_material/notebooks/checkpoints/weights-improvement-01-0\.36\.hdf5

learning_material/notebooks/checkpoints/weights-improvement-02-0\.33\.hdf5

learning_material/notebooks/checkpoints/weights-improvement-03-0\.31\.hdf5

learning_material/notebooks/checkpoints/weights-improvement-04-0\.32\.hdf5

learning_material/notebooks/checkpoints/weights-improvement-05-0\.31\.hdf5

learning_material/sklearn-first-file\.pdf
